.main {
  width: 200px;
  /* max-width: 200px; same as width */
  /* min-width: 200px;  our website mive top to bottom not to left to right*/
  height: 200px;
  /* max-height: 200px; */
  /* min-height: 200px; */
  border: 1px solid blue;
  
}
