p{
    width: 300px;
    height: 200px;
    border: 2px solid brown;
    /* overflow:hidden; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    /* overflow: scroll; */
    /* use overflow auto for best case */
    overflow: auto;  
}