.circle {
  width: 300px;
  height: 300px;
  border: 2px solid blue;
  border-radius: 50%;
}
.rectangle {
  width: 600px;
  height: 300px;
  border: 2px solid blue;
  border-radius: 50px ;
}
.ellipse{
  width: 600px;
  height: 300px;
  border: 2px solid blue;
  border-radius: 50% ;
}
.triangle {
  width: 300px;
  height: 300px;
  border: 2px solid blue;
  border-top-left-radius: 150px ;
  border-top-right-radius: 150px ;
  border-bottom-right-radius: 150px ;
}
