.main {
  width: 400px;
  height: 400px;
  /* border-width: 5px;
    border-style: solid;
    /* border-style: dashed; */
  /* border-color: blue;  */
  border: 10px solid blue;
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-bottom: 10px solid magenta;
  border-left: 10px solid brown; */
  /* border-radius: 50%; /*for square 50 percent and width and height should be same */
  /* border-top-left-radius: 40px;
  border-top-right-radius: 80px; */
  border-radius: 40px 80px 110px 150px;
}
