.square {
  width: 250px;
  height: 250px;
  border: 5px solid blue;
  border-top: 5px solid brown;
  border-left: 5px solid rgb(228, 11, 11);
  /* border-top-left-radius: 150%; */
}
.circle {
  width: 250px;
  height: 250px;
  border: 5px solid blue;
  border-radius: 50%;
}
.rectangle {
  width: 450px;
  height: 250px;
  border: 5px solid blue;
  border-radius: 10px 50px;
}
.triangle {
  width: 250px;
  height: 250px;
  border: 5px solid blue;
  border-top: 5px solid brown;
  border-top-left-radius: 150%;
}
.ellipse {
  width: 450px;
  height: 250px;
  border: 5px solid blue;
  border-radius: 50%;
}
.nav {
  width: 150px;
  height: 40px;
  border: 5px solid blue;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  border-radius: 60px;
  float: left;
}
.nav2 {
  width: 150px;
  height: 40px;
  border: 5px solid blue;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  border-radius: 60px;
  float: left;
}
