.main{
    width: 1000px;
    height: 800px;
    border: 2px solid blue;
    background: url(flower-10016332_640.jpg) no-repeat center;
    background-size: 200px;
    background-attachment: fixed;
}